<div class="app-wrapper" fxLayout="column" fxFlexFill>
  <h1 class="app-title" [innerHtml]="title"></h1>
  <div class="app-body" fxLayout fxLayoutGap="20px" fxFlex="1 1 100%">
    <div class="app-left-nav">
      <div fxLayout="column">
        <nav md-tab-nav-bar>
          <a #rla="routerLinkActive" *ngFor="let tab of tabs"
             [routerLink]="tab.link" [innerHtml]="tab.label" [active]="rla.isActive"
             md-tab-link routerLinkActive></a>
        </nav>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="app-main-view" fxFlex>
      <router-outlet name="view"></router-outlet>
    </div>
  </div>
</div>
