@import '../theme';

:host {
  display: block;
  padding: 10px;
  height: 100%;
}

.app-left-nav {
  width: 480px;
  > div {
    height: 100%;
  }
}

.app-wrapper {
  border: 1px solid #BBB;
}

.app-body {
  background: mat-color($app-primary, default, 0.1);
}

.app-main-view {
  padding: 20px 10px 10px 10px;
}

h1 {
  padding: 10px 30px;
  border-bottom: 1px solid #BBB;
}
